.Input {
	display: flex;
	flex-direction: row;
}

.Input label {
	font: inherit;
	cursor: pointer;
}

#Input-password {
	font: inherit;
	flex: 1;
	height: 1em;
	border: none;
	color: inherit;
	background-color: #3c3c3c;
	margin: 0;
	padding: 0;
	outline-offset: 1px;
}

#Input-password:hover {
	outline: 1px solid #d4d4d4;
}

#Input-password:focus {
	outline: 2px solid #d4d4d4;
}
